* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

header, footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.cabeca {
    position: absolute;
    height: 100px;
    top: 50%;
    left: 0%;
}