/* PARALLAX */
.body {
	margin: 0;
	top: 0;
	left: 0;
}

.keyart, .keyart_layer {
	height: 1000px;
}

#parallax {
	display: block;
	margin: 0;
	top: 0;
	left: 0;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	width: 70%;
	position: absolute;
}

/* .keyart_layer.parallax {
	position: fixed;
} */
	#barbearia {
		background-image: url('imagens/barbearia.png');
	}
	#cadeeiro {
		background-image: url('imagens/candeeiro.png');
	}
	#cadeiras {
		background-image: url('imagens/cadeiras.png');
	}
	#barbeiro {
		background-image: url('imagens/barbeiro.png');
	}
	#vitima {
		background-image: url('imagens/vitima.png');
	}
	#chao {
		background-image: url('imagens/ground.png');
	}